$def with ( generated_code, warnings )
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="icon" href="/static/favicon.ico" />
    <title>pygccxml &amp; py++ demo - generated code</title>
</head>
<body>
    <h2>pygccxml &amp; py++ demo - generated code</h2>
    <label>Generated code</label>
    <br/>
    <textarea name="generated_code" rows="20" cols="180" readonly="true">$generated_code</textarea>
    <br/>
    <label>Warnings and Errors</label>
    <br/>
    <textarea name="generated_code" rows="20" cols="180" readonly="true">$warnings</textarea>

</body>
</html>
